/*Style for whole page*/
html {
	background-color: #1D1D1F;
	font-family:'Oswald', 'Helvetica', 'Arial', 'Sans-Serif';
}
body {
	margin: 0 auto;
}

/*Style for header*/
.header th {
	color: #F3F2F4;
	font-size: 2em;
}

/*Style for body*/
.body {
	background-color: #F3F2F4;
}
.body h1 {
    	color: #4C4C4C;
	font-size: 2em;
	line-height: 1em;
	text-align: center;
    	text-decoration: underline;
}
.body p {
	color: #4C4C4C;
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
}
.body input {
	color: #4C4C4C;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
}
.body button {
 	background-color: #C33531;
 	border: none;
 	color: white;
 	font-size: 1em;
	transition: .5s;
	cursor:pointer;
}
.body button:hover {
 	background-color: #EC4854;
}

.body_title {
	font-weight: bold;
}